@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Reset del CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stile del body */
body {
    background-color: rgb(31, 109, 255);
}

/* Stile dell'header */
header {
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    z-index: 999;
}

/* Stile del contenitore delle notizie */
.container-news {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    width: 800px;
    margin: 120px auto;
    background-color: rgba(4, 0, 255, 0.329);
    padding-top: 30px;
    border-radius: 20px;
}

/* Stile della lista delle notizie */
.news {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

/* Stile del link delle notizie */
a {
    text-decoration: none;
    color: inherit;
}

/* Stile dell'elemento di una notizia */
.news-item {
    color: #000000 !important;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    display: flex;
    align-items: center;
    max-width: 650px;
    min-height: 100px;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.877);
    backdrop-filter: blur(10px);
    position: relative;
    opacity: 0;
    /* Opacità iniziale */
    transform: translateY(20px);
    /* Traslazione verso l'alto */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

/* Stile del titolo di una notizia */
.news-title {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    text-align: center;
    font-weight: bolder;
}

/* Stile della data di una notizia */
.news-date {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 12px;
    padding: 2px;
}

/* Stile per visualizzare una notizia */
.news-item.visible {
    opacity: 1;
    transform: translateX(0);
}

/* Stile per animare verso l'alto una notizia nello scroll */
.news-item.scroll-up {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

/* Stile per visualizzare una notizia animata verso l'alto */
.news-item.scroll-up.visible {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

/* Stile per animare verso destra una notizia nello scroll */
.news-item.scroll-down {
    transform: translateX(100%);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

/* Stile al passaggio del mouse su una notizia */
.news-item:hover {
    border: 1px solid rgba(31, 0, 168, 0.534);
    transform: scale(1.2);
    box-shadow: inset 0px 0px 28px 10px rgba(93, 91, 175, 0.486);
    transition: box-shadow 0.3s ease-in, transform 0.5s ease-in-out, color 0.3s ease-in-out, box-shadow 0.5s ease-in-out;
}

/* Stile al click su una notizia */
.news-item:active {
    box-shadow: inset 0px 0px 28px 10px rgba(10, 7, 218, 0.596);
}

/* Stile al passaggio del mouse sul titolo di una notizia */
.news-item:hover .news-title:hover {
    color: rgb(31, 10, 219);
    font-weight: bolder;
}

/* Stile dei pulsanti fissati in basso a sinistra */
.sticky-buttons {
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: flex;
    flex-direction: row;
    z-index: 9999;
}

/* Stile del pulsante di aggiornamento pagina */
.refresh-button,
.scroll-top-button {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

/* Stile del pulsante di aggiornamento pagina */
.refresh-button {
    background-color: #ffffff;
    margin-right: 5px;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

/* Stile del pulsante di scroll verso l'alto */
.scroll-top-button {
    background-color: #ffffff;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

/* Stile al passaggio del mouse sul pulsante di scroll verso l'alto */
.scroll-top-button:hover {
    background-color: #2e10d6;
    transition: background .5s ease-in-out;
}

/* Stile al passaggio del mouse sul pulsante di aggiornamento pagina */
.refresh-button:hover {
    background-color: #2e10d6;
    transition: background .5s ease-in-out;
}

.stickylinks {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: row;
    z-index: 9999;

}

.gitBtn {
    padding: 10px;
    margin-bottom: 10px;
    width: 80px;
    height: 80px;
    background-color: #fff;
    border-radius: 50%;
    border: none;
}

.gitBtn:hover {
    background-color: #2e10d6;
    transition: background .5s ease-in-out;
}

.icn {
    width: 50px;
    height: 50px;
}

@media (max-width: 900px) {

    .container-news {
        width: 70%;
    }

    .news-item {
        font-size: 16px;
        max-width: 400px;
    }
}

@media (max-width: 600px) {

    .icn {
        width: 30px;
        height: 30px;
    }

    header h1 {
        font-size: 22px;
    }

    .container-news {
        width: 75%;
    }

    .news-item {
        max-width: 250px;
        height: 120px;
    }

    .refresh-button {
        width: 50px;
        height: 50px;
    }

    .scroll-top-button {
        width: 50px;
        height: 50px;
    }

    .gitBtn {
        width: 50px;
        height: 50px;
    }
}